.App {
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: white;
}

.auth-form-container,
.login-form,
.register-form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

label {
    text-align: left;
    padding: 0.25rem 0;
    font-weight: bold;
    margin-left: 7px;
    color: #3e3f5e;
    font-family: "Roboto";
}

input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    background-color: rgb(221, 224, 223);
}

button {
    border-color: #0865df;
    background-color: #229bd3;
    padding: 15px;
    border-radius: 22px;
    cursor: pointer;
}

button:hover {
    background-color: #ffffff;
}

.Link-btn {
    background: none;
    color: #229bd3;
    text-decoration: underline;
    border: none;
    text-align: center;
    width: 70%;
}

.Rem-btn {
    font-weight: normal;
    display: flex;
    border-color: #229bd3;
}

.login-btn {
    border-radius: 30px;
    align-items: right;
    text-align: right;
    margin-left: auto;
    padding: 15px 50px 15px 60px;
    color: white;
}

.Reg-btn {
    color: white;
}

.name {
    border-color: rgb(53, 50, 50);
}

.what {
    color: #229bd3;
}

.shift {
    margin-left: 30px;
}

.shift1 {
    margin-left: 133px;
}

.shift2 {
    margin-left: 40px;
}